.new-task-input {
    width: 100%;
    position: relative;
}

.new-task-input__input {
    padding-left: 10px;
    padding-right: 45px;
    line-height: 35px;
    height: 35px;
    box-sizing: border-box;
    width: 100%;
    outline: 0;
    border: 1px solid #ecf0f5;
    border-right: none;

    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    transition: box-shadow linear 0.2s;
}

.new-task-input__input:focus, .new-task-input__input:focus + .new-task-input__button {
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.new-task-input__button {
    box-sizing: border-box;
    outline: 0;
    height: 35px;
    width: 40px;
    border: none;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0);
    transition: box-shadow linear 0.2s;
    cursor: pointer;
    position: absolute;
    right: 0;
    background: #18bc9c url('plus.svg') 50% no-repeat;
    background-size: 40%;
}
